html, body, #map-canvas {
    height: 97%;
    width: 90%;
    left: 350px;
    margin: 0px;
    padding: 10px;
}

#draggable {
    background-color: rgb(200, 200, 255); 
    width: 175px;
    padding: 15px;
    position:absolute;
			top: 120px;
			left:380px;
		}

		#radius-label, #opacity-label {
			margin-top: 10px;
		}

		#radius-slider, #opacity-slider {
			width:170px;
			margin-top: 10px;
		}

		#radius-label, #opacity-label{
			margin-top: 10px;
		}

		#radius-slider, #opacity-slider{
			width:170px;
			margin-top: 10px;
		}

		#radius-slider .ui-slider-handle, 
		#opacity-slider .ui-slider-handle
		{
			cursor:pointer;
		}