#map-canvas {
    height: 100%;
    width: 100%;
    /* left: 350px; */
    margin: 0px;
    padding: 350px;
}

#draggable {
    background-color: rgb(255, 255, 255); 
    width: 230px;
    padding: 15px;
    position:absolute;
			top: 200px;
			left:30px;
		}

		#radius-label, #opacity-label {
			margin-top: 10px;
		}

		#radius-slider, #opacity-slider {
			width:200px;
			margin-top: 10px;
		}

		#radius-label, #opacity-label{
			margin-top: 10px;
		}

		#radius-slider, #opacity-slider{
			width:200px;
			margin-top: 10px;
		}

		#radius-slider .ui-slider-handle, 
		#opacity-slider .ui-slider-handle
		{
			cursor:pointer;
		}